/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

div.search-box {

    box-sizing: border-box;
    position: relative;
    text-align: center;
    border-radius: 20px;
    width:50%;
    margin: auto;
    background:silver;
    
}
#close-btn {
    
    padding:5px; 
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background:silver;
    vertical-align: middle;
    outline: none;
}

#search-btn {

    padding:5px; 
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: auto;
    background: silver;
    vertical-align: middle;
    outline: none;
}

#search-window {

    width: 80%;
    height:34px;
    border: none;
    background:silver;
    outline: none;

}